<!-- src/app/components/footer/footer.component.html -->
<footer class="relative py-20 mt-12 flex flex-col items-center bg-white overflow-hidden">
  <div class="relative z-[1] container m-auto px-6 md:px-12">
    <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
      <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
        <div class="w-full space-x-12 flex justify-center text-gray-300 sm:w-7/12 md:justify-start">
          <ul class="list-disc list-inside space-y-8">
            <li><a routerLink="/" class="text-base font-semibold text-gray-600 hover:text-purple-600 transition">About me</a></li>
            <li><a routerLink="/projects" class="text-base font-semibold text-gray-600 hover:text-purple-600 transition">Projects</a></li>
            <li><a routerLink="/contact" class="text-base font-semibold text-gray-600 hover:text-purple-600 transition">Contact</a></li>
          </ul>
          <ul role="list" class="space-y-8">
            <li>
              <a href="https://github.com/Juanksyek" class="flex items-center space-x-3 text-base font-semibold text-gray-600 hover:text-purple-600 transition">
                <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#8745FF">
                  <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M14.3333 19V17.137C14.3583 16.8275 14.3154 16.5163 14.2073 16.2242C14.0993 15.9321 13.9286 15.6657 13.7067 15.4428C15.8 15.2156 18 14.4431 18 10.8989C17.9998 9.99256 17.6418 9.12101 17 8.46461C17.3039 7.67171 17.2824 6.79528 16.94 6.01739C16.94 6.01739 16.1533 5.7902 14.3333 6.97811C12.8053 6.57488 11.1947 6.57488 9.66666 6.97811C7.84666 5.7902 7.05999 6.01739 7.05999 6.01739C6.71757 6.79528 6.69609 7.67171 6.99999 8.46461C6.35341 9.12588 5.99501 10.0053 5.99999 10.9183C5.99999 14.4366 8.19999 15.2091 10.2933 15.4622C10.074 15.6829 9.90483 15.9461 9.79686 16.2347C9.68889 16.5232 9.64453 16.8306 9.66666 17.137V19" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M9.66667 17.7018C7.66667 18.3335 6 17.7018 5 15.7544" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>Github</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center space-x-3 text-base font-semibold text-gray-600 hover:text-purple-600 transition">
                <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#8745FF">
                  <path d="M21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8Z" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M7 17V13.5V10" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 17V13.75M11 10V13.75M11 13.75C11 10 17 10 17 13.75V17" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M7 7.01L7.01 6.99889" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="mailto:jc_haran@hotmail.com" class="flex items-center space-x-3 text-base font-semibold text-gray-600 hover:text-purple-600 transition">
                <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#8745FF">
                  <path d="M7 9L12 12.5L17 9" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 17V7C2 5.89543 2.89543 5 4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17Z" stroke="#8745FF" stroke-width="1.5"></path>
                </svg>
                <span>Mail</span>
              </a>
            </li>
            <li>
              <a href="https://x.com/Juank_Syek" class="flex items-center space-x-3 text-base font-semibold text-gray-600 hover:text-purple-600 transition">
                <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#8745FF"><path d="M16.8198 20.7684L3.75317 3.96836C3.44664 3.57425 3.72749 3 4.22678 3H6.70655C6.8917 3 7.06649 3.08548 7.18016 3.23164L20.2468 20.0316C20.5534 20.4258 20.2725 21 19.7732 21H17.2935C17.1083 21 16.9335 20.9145 16.8198 20.7684Z" stroke="#8745FF" stroke-width="1.5"></path><path d="M20 3L4 21" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round"></path></svg>
                <span>X</span>
              </a>
            </li>
              <li>
                <a href="https://www.instagram.com/juank_syek?igsh=MjU1OGVuc2hzaWdr&utm_source=qr " class="flex items-center space-x-3 text-base font-semibold text-gray-600 hover:text-purple-600 transition">
                  <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#8745FF"><path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z" stroke="#8745FF" stroke-width="1.5"></path><path d="M17.5 6.51L17.51 6.49889" stroke="#8745FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                  <span>Instagram</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="w-10/12 m-auto  mt-16 space-y-6 text-center sm:text-left sm:w-5/12 sm:mt-auto">
            <span class="block text-xs font-semibold text-gray-600">This profile was made whit Angular, TypeScript and Tailwind</span>
            <span class="block text-base font-semibold text-gray-600">&copy; Made whit <span class="text-purple-600">♥</span> by Juan Flores 2024.</span>
            <span class="flex text-base font-semibold text-gray-600"> 
            </span>
          </div>
        </div>
      </div>
  </div>
  <div aria-hidden="true" class="absolute h-full inset-0 flex items-center">
      <div aria-hidden="true" class="bg-layers bg-scale w-46 h-46 m-auto blur-lg bg-gradient-to-r from-purple-600 to-blue-600 rounded-full md:w-[10rem] md:h-[10rem] md:blur-2xl"></div>
  </div>
</footer>