.rotate-90 {
  transform: rotate(90deg);
}

/* animcaion de acordeon */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

details[open] p {
  animation: fadeIn 0.5s ease-in-out;
}